body{
    color: rgb(255, 0, 0);
    background: rgb(116, 224, 9);
    margin:0px;
}

header{
    border-bottom: solid 2px rgb(24, 22, 22);
padding: 20px;
font-size: 32px;
color:black(42,122,228);    
}    